<style>
    .container .list{
        border-bottom: 1px solid #cccccc;
        position: relative;
    }
    .container .list h4 a{
        color: #000066;
        font-size: 14px;
    }
    .container .list .time{
        position: absolute;
        bottom:1px;
        position: absolute;right: 0px;
        font-size: 12px;
        color:#005f9b;
        padding-right: 20px;
    }
</style>
<div class="container">
    <h3>日志分类</h3>
    <hr/>
        <?php
            $str = '';
             foreach ($list as $k=>$v) {
                $time = substr($v['c_time'], 0 ,10);
                $str .= "<div class='list'>";
                $str .= "<h4><a href='/article/info/id/{$v["id"]}'>".trim($v['title'])."</a><span class='time'>" .$time. "</span></h4>";
                $str .= "</div>";
             }

            echo $str;

        ?>
</div>
