<link rel="stylesheet" href="/App/Static/css/home/info.css" type="text/css"/>
    <?php
        echo "<div class='title'>".$info['title']."</div>";
        echo " <div class='content'>".$info['content']."</div>";
?>

<!--PC版-->
<?php
echo "<div id='SOHUCS' sid='".$info['id']."'></div>";

?>
<script charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
    window.changyan.api.config({
        appid: 'cysutmqWD',
        conf: 'prod_1172684e8b34ef8a4a00fa2cfde261d5'
    });
</script>
