<style>
    .container .title {
        font-size: 18px;
        color: #111;
        font-weight: 700;
        margin: 25px 0px;
        text-align: center;
    }

    .container .content {
        background-color: #FFFFFF;
        padding: 10px 10px;
        font-weight: 500;
        text-indent: 20px;
    }
</style>
<div class="container">
    <?php
        echo "<div class='title'>".$info['cate']." > ".$info['title']."</div>";
        echo " <div class='content'>".$info['content']."</div>";
?>


</div>
