    </main>
</div>
<footer class="powerd">&copy; Powerd By LessPHP Framwork<span style="padding-right: 20px"></span> <?php echo '本次加载耗时：'.round(SPEND_TIME*1000,2).'毫秒'; ?></footer>
<script src="/App/Static/js/prettify.js"></script>
<script src="/App/Static/js/js/bootstrap.min.js"></script>
<script>
    $(function(){
        $("pre.prettyprint").addClass("prettyprint linenums");

        var url = location.pathname
        console.log(url)

        $('#nav>ul>li>a').each(function(e){
            if ( ($(this).attr('href')) == url ) {
                $('.active').removeClass()
                $(this).parent().addClass('active')
            }
        })

    })
</script>

</body>
</html>