<link rel="stylesheet" href="/App/Static/css/home/index.css"/>
<div class="top"></div>
<div style="background-color: #fff">
<?php
$str= '';
foreach($list as $k => &$v) {
    $v['profile'] = iconv_substr($v['content'],0,150,'UTF-8');
    $v['profile'] = strip_tags($v['profile']);
    $str .=<<<EOF
      <div class="profile">
          <h4>{$v['title']}</h4>
          <div class="profile_content">{$v['profile']}</div>
          <div class="more"><a href="/article/info/id/{$v['id']}">查看</a></div>
      </div>
EOF;
}
echo $str;

?>
</div>

