*{
    padding: 0 0;
    margin: 0 0;
}
a{
    text-decoration: none !important;
}
body{
    font-size: 14px;
    font-family: "-apple-system","Open Sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color:#efefef
}
.warpper{
    width: 100%;
    height: 100%;
}
.left-col {
    background-image: url('../../../Static/img/bg.png');
    background-color: #369abc;
    position: fixed;
    padding:30px 0;
    width: 250px;
    height: 100%;
}
.left-col h3{
    color: #fff0f0;
}
.container{
    padding-left:45px !important;
    margin-left:250px !important;
}
#header{
    text-align:center;
    padding:0px 30px;
    border-bottom: none;
    height: 100%;
    width: 100%;
}
#header h1 a {
    float: none;
    font-weight: 300;
    font-size: 30px;
    color:#ffffff;
}
#header img{
    margin-top: 40px;
}
#nav ul{
    margin-top: 30px;
    padding: 0 0;
}
#nav ul li{
    list-style: none;
    padding: 10px 0px !important
}
#nav ul li>a{
    color: #fff0f0;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}
#nav ul li>a:hover{
    color: #cccccc;
    font-size: 18px;
    text-decoration: none;
}
@media screen and (max-height:400px) {
    #header img{
        width: 60px !important;
        height: 60px !important;
    }
    #nav ul li{
        padding: 5px 0px !important
    }
    #header h1{
        font-size: 18px !important
    }
    #header h1 a {
    font-size: 18px !important;
    padding:8px 0px !important;
    margin: 0 0 !important
    }
}


/**适配手机屏css*******/
@media screen and (max-width: 500px) {
    #header{
        text-align: center;
        margin: 0 auto !important;
    }
    .container{
    padding:15px 15px !important;
    margin:0 0 !important;
    }
    .left-col{
        position: relative;
        top:0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: none;
        background: #101010;

    }

    #content{
        margin-left: 15px;
    }
    .left-col ul{
        text-align: center;
        margin: 0 0;
        padding: 0 0;
    }
    .left-col li{
        display: inline-block;
        padding-left: 10px;
        line-height: 0px !important;
    }
    .left-col li a{
        float: left;
        color: #101010;
    }
    #header>img{
        margin-top: 0px !important;
        margin-left:0px !important;
        width: 100px !important;
        height: 100px !important;;
    }
    #header h1{
        padding: 0 0;
        margin: 0 0;
    }
    #header>h1>a{
        font-size: 24px !important;
    }
}


