<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <!-- 3rd party libs -->
    <link href="/App/Static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/App/Static/libs/datatables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/App/Static/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/App/Static/libs/ionicons/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="/App/Static/libs/morris/morris.css" rel="stylesheet" type="text/css" />
    <link href="/App/Static/libs/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="/App/Static/libs/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <link href="/App/Static/libs/iCheck/all.css" rel="stylesheet" type="text/css" />
    <link href="/App/Static/libs/admin_lte/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="/App/Static/libs/admin_lte/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link href="/App/Static/libs/uploadify/uploadifive.css" rel="stylesheet" type="text/css" />


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="skin-blue">

