<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width,minimum-scale=1.0" name=viewport>
    <title></title>
    <meta name="description" content="SinglePHP"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://v3.bootcss.com/assets/css/docs.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/highlight.js/7.3/styles/github.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/App/Static/css/home/global.css"/>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
</head>
<body class='bs-docs-home'>
<div class="left-col">
    <div class="intrude-less">
        <header id="header" class="inner">
            <nav id="nav">
                <ul>
                    <li><a href="/">日志管理</a></li>
                    <li><a href="/product">友连管理</a></li>
                    <li><a href="/about"></a></li>
                </ul>
            </nav>
        </header>
    </div>
</div>
<main id="content" role="main">

