<ul class="sidebar-menu">
    <li class="treeview">
        <a href="#">
            <i class="fa fa-home"></i>
            <span style="color:#3c8dbc;">官网管理</span>
            <ul class="treeview-menu" style="display: block">
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-list-ul"></i>
                        <i class="fa fa-angle-left pull-right"></i> <span>日志管理</span>
                    </a>
                    <ul class="treeview-menu" style="display: block">
                        <li><a href="/Admin/Article"><i class="fa fa-table"></i>日志列表</a></li>
                        <li><a href="/Admin/friend"><i class="fa fa-table"></i> 友链列表</a></li>
                    </ul>

                </li>
            </ul>
        </a>
    </li>
</ul>
