<script>
    function jump(id){
        location.href='/Admin/article/edit/id/'+id
    }

    function del(id){
        $.post('/Admin/article/del', {id:id},function(mes){
            mes = JSON.parse(mes);
            if (mes.status==1) {
                window.location.reload()
            } else {
                bootbox.alert('del has error, try again');
            }
        })
    }
</script>
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">
            <a type="button" href="/Admin/Article/add" class="btn btn-primary btn-md"><i class="fa fa-plus"></i> 新增</a>
        </h3>
    </div>
    <div class="box-body">
        <table id="category-list" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
                <th>类别</th>
                <th>添加时间</th>
                <th>管理操作</th>
            </tr>
            </thead>
            <?php
                    $str = '';
                    foreach($list as $k=>$v ) {
                        $str .= "<tr>";
                        $str .= "<td>".$v['id']."</td>";
                        $str .= "<td>".$v['title']."</td>";
                        $str .= "<td>".$v['cate_id']."</td>";
                        $str .= "<td>".$v['update_time']."</td>";
                        $str .= "<td><button class='btn btn-warning' onclick='javascript:jump($v[id])'>修改</button><span style='padding: 0 5px'></span><button class='btn btn-waring' onclick='javascript:del($v[id])'>删除</button></td>";
                        $str .= "</tr>";
                    }
                    echo $str;
            ?>
        </table>
    </div>
</div>
