<style>
    .profile{
        font-size: 22px;
        color: #ffffff;
    }
</style>
<div style="box-sizing: border-box;width: 100%;background-color: #ffffff;margin-top: 20px;padding: 180px 200px">
   <div style="box-sizing: border-box;width: 60%;background-color: #1bbadb;margin: 0 auto;padding: 50px 50px">
       <p class="profile">
           性别：男
       </p>
       <p class="profile">
           爱好：女
       </p>
       <p class="profile">
           职业：PHP攻城师一枚
       </p>
       <p class="profile">
           籍贯：湖北省黄冈市罗天县
       </p>
       <p class="profile">
           联系方式： 82547617 <span style="color: #0a001f;padding: 0 10px">or</span> schengshuo163.com
       </p>
   </div>
</div>