__NO_LAYOUT__
<!Doctype html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name=viewport>
    <meta name=robots content="noindex, nofollow">
    <title></title>
    <link rel=stylesheet href="/App/Static/css/admin/admin.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
</head>
<body class="body-100">
<div class="typecho-login-wrap">
    <div class="typecho-login"><h1><a href="/" style="color: #36ABE6">bruce 's blog Admin</a></h1>

        <form action="/Admin/index" method=post onSubmit="return false;"><p><label for=user
                                                                                   class="sr-only">用户名</label><input
                type=text
                id=user
                name=user
                value=""
                placeholder="用户名"
                class="text-l w-100">
        </p>

            <p><label for=password class="sr-only">密码</label>
                <input type=password id=password name=password class="text-l w-100" placeholder="密码">
            </p>

            <p><label for=verify class="sr-only">验证码</label>
                <input type=password id=verify_code name=verify_code
                       class="text-l w-100" placeholder="验证码">
            </p>
            <p>
                <img id=code src="/Admin/Index/getCodePut" alt="" onclick="this.src='/Admin/Index/getCodePut'" style="cursor: pointer" >
            </p>
            <p class=submit>
                <button type=submit class="btn btn-l w-100 primary" style="background-color: #36ABE6">登录</button>
            </p>
        </form>
        <script type="text/javascript" src="/App/Static/js/Admin/login.js"></script>
    </div>
</body>
</html>