<style>
    .friend_link{
        box-sizing: border-box;
        width: 100%;
        margin: 20px auto;
        padding:20px 30px 20px 30px;
        background-color: #ffffff;
    }
    .friend_link>ul{
        list-style: none;
    }
    .friend_link>ul>li{
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        border-bottom: 1px solid #cccccc;
    }
</style>
<div class="friend_link">
    <ul>
        <li><a href="http://chengjie.info" target="_blank">陈捷的博客</a></li>
        <li><a href="http://phpmap.club" target="_blank">程序员之路</a></li>
        <li><a href="https://mengkang.net" target="_blank">梦康的博客</a></li>
    </ul>
</div>